node_modules
dist
.env
.env.local
.env.*.local
.DS_Store
*.log
*.tmp
.idea
.vscode
*.swp
*.swo
*~
.tsbuildinfo
coverage
.jest
.nyc_output

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#scripts aws CLI

create-database.ps1
create-redis.ps1
create-nat-gateway.ps1
create-bastion-ssm.ps1
connect-bastion-ssm.ps1
push-ecr-image.ps1
deploy-ecs-fargate.ps1